---
/**
 * Pricing sections with toggle for monthly or yearly payments
 * Supports multiple pricing items with features list
 */

 import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { getRelativeLocaleUrl } from "astro:i18n";

// components
import Button from "@components/Button/Button.astro";
import Badge from "@components/Badge/Badge.astro";

// utils
import { getLocaleFromUrl } from "@js/localeUtils";
import { useTranslations } from "@js/translationUtils";

interface pricingItem {
    name: {
        kickStart: string;
        jumpStart: string;
    };
    description: {
        kickStart: string;
        jumpStart: string;
    };
    featured?: boolean;
    price: {
        custom?: boolean;
        kickStart: string;
        jumpStart: string;
    };
    priceTerms: {
        custom?: boolean;
        kickStart: string;
        jumpStart: string;
    };
    features: {
        kickStart: string[];
        jumpStart: string[];
    };
    href: string;
    linkText: string;
}

const pricingData: pricingItem[] = [
    {
        name: {
            kickStart: "Boot",
            jumpStart: "Engage",
        },
        description: {
            kickStart: "Essential features for beginners. Get started with ease",
            jumpStart: "Essential features for beginners"
        },
        price: {
            kickStart: "2,000",
            jumpStart: "4,000",
        },
        priceTerms: {
            kickStart: "One-time, then S$40/mo",
            jumpStart: "One-time, then S$300/mo",
        },
        features: {
            kickStart: ["Pro features", "Up to 10 users", "50 GB Free Access", "Priority support"],
            jumpStart: ["Pro", "Up to 10", "50 GB Free Access", "Priority support"],
        },
        href: "/signup",
        linkText: "Get Started",
    },

	{
        name: {
            kickStart: "Spark",
            jumpStart: "Launch",
        },
        description: {
            kickStart: "Essential features for beginners. Get started with ease",
            jumpStart: "Essential features for beginners"
        },
        featured: true,
        price: {
            kickStart: "5,000",
            jumpStart: "7,000",
        },
        priceTerms: {
            kickStart: "One-time, then S$150/mo",
            jumpStart: "One-time,",
        },
        features: {
            kickStart: ["Pro features", "Up to 10 users", "50 GB Free Access", "Priority support"],
            jumpStart: ["Pro features", "Up to 10 users", "50 GB Free Access", "Priority support"],
        },
        href: "/signup",
        linkText: "Get Started",
    },
    {
        name: {
            kickStart: "Astral",
            jumpStart: "Stellar",
        },
        description: {
            kickStart: "Essential features for beginners. Get started with ease",
            jumpStart: "Essential features for beginners"
        },
        price: {
            kickStart: "8,000",
            jumpStart: "13,000",
        },
        priceTerms: {
            kickStart: "One-time, then S$580/mo",
            jumpStart: "One-time,",
        },
        features: {
            kickStart: ["Pro features", "Up to 10 users", "50 GB Free Access", "Priority support"],
            jumpStart: ["Pro features", "Up to 10 users", "50 GB Free Access", "Priority support"],
        },
        href: "/signup",
        linkText: "Get Started",
    },
    {
        name: {
            kickStart: "Voyage",
            jumpStart: "Odyssey",
        },
        description: {
            kickStart: "Essential features for beginners. Get started with ease",
            jumpStart: "Essential features for beginners"
        },
        price: {
            kickStart: "14,000",
            jumpStart: "20,000",
        },
        priceTerms: {
            kickStart: "One-time, then S$2.7k/mo",
            jumpStart: "One-time,",
        },
        features: {
            kickStart: ["Pro features", "Up to 10 users", "50 GB Free Access", "Priority support"],
            jumpStart: ["Pro features", "Up to 10 users", "50 GB Free Access", "Priority support"],
        },
        href: "/contact",
        linkText: "Contact Us",
    },
    // ... other pricing items remain the same
];

const currLocale = getLocaleFromUrl(Astro.url);
const t = useTranslations(currLocale);
---

<style>
	.pricing-plan__monthly-price,
	.pricing-plan__yearly-price {
	  opacity: 1;
	  transform: translateY(0);
	  transition: all 0.5s ease;
	  position: relative;
	  width: 100%;
	  visibility: visible;
	}
  
	.pricing-plan__monthly-price.hidden,
	.pricing-plan__yearly-price.hidden {
	  opacity: 0;
	  transform: translateY(20px);
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  visibility: hidden;
	}
  
	.pricing-plan__dot {
	  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
	}
  
	.pricing-plan__slider {
	  transition: border-color 0.5s ease;
	}
  </style>

<section id="pricing" class="py-16 md:py-20">
    <div class="relative mx-auto max-w-7xl px-4">
		<!-- orginal -->
        <!-- <div class="flex justify-center">
            <h2 class="h2 inline text-center">A plan for every business</h2>
        </div> -->
		<div class="mx-auto max-w-2xl text-center" data-aos="fade-left" id="code-toggle-trigger">
			<div>
				<h2 class="h2 inline">Pricing</h2>
			</div>
			<!-- <Badge>A Plan for Every Venture Choose your starting plan and scale as you grow.</Badge> -->
			<p class="description mt-4 text-pretty text-xl tracking-tight">
				Choose your starting plan & scale as you grow.
			</p>
		</div>


        <div class="mt-6 flex justify-center">
            <label
                for="pricing-plan__toggle"
                class="relative inline-flex cursor-pointer select-none items-center"
            >
                <input
                    type="checkbox"
                    name="pricing-plan__toggle"
                    id="pricing-plan__toggle"
                    class="pricing-plan__toggle sr-only"
                    aria-label="Toggle between monthly and yearly pricing"
                />
                <span class="description flex items-center">Kick Start</span>
                <span
                    class="pricing-plan__slider mx-4 flex h-7 w-[56px] items-center rounded-full border border-base-300 bg-base-100 p-1 duration-200 dark:border-base-700 dark:bg-base-900"
                >
                    <span
                        class="pricing-plan__dot size-5 rounded-full bg-base-800 duration-200 dark:bg-base-200"
                    ></span>
                </span>
                <span class="description flex items-center">Jump Start</span>
            </label>
        </div>

        <div class="mx-auto mt-16 grid w-full gap-6 sm:grid-cols-2 md:mt-20 lg:grid-cols-4">
            {
                pricingData.map((plan) => (
                    <div class="pricing-plan w-full">
                        <div
                            class:list={[
                                "relative flex h-full flex-col justify-between rounded-xl border bg-base-100 p-8 text-center dark:bg-base-950",
                                {
                                    "border-primary-300 before:absolute before:inset-0.5 before:-z-10 before:rounded-xl before:bg-blue-500 before:blur":
                                        plan.featured === true,
                                    "border-base-200 dark:border-base-800": plan.featured !== true,
                                },
                            ]}
                        >
                            {/* Kick Start Pricing */}
							<div class="relative">
								<div class="pricing-plan__monthly-price">
									<h3
										class:list={[
											"mb-8 text-lg font-medium tracking-tight",
											{
												"text-primary-600 dark:text-primary-400": plan.featured === true,
												"text-base-800 dark:text-base-300": plan.featured !== true,
											},
										]}
									>
										{plan.name.kickStart}
									</h3>
									<h4 class="text-4xl font-medium tracking-tight">
										{plan.price.custom ? "Custom" : `S$${plan.price.kickStart}`}
									</h4>
									<span class="description inline-block text-sm tracking-tight">
										{plan.priceTerms.kickStart}
									</span>
									<div class="mt-8 border-y border-base-200 py-8 dark:border-base-800">
										<p
											class:list={[
												"description mx-auto max-w-xs tracking-tight",
												{
													"text-base-800 dark:text-base-300": plan.featured === true,
												},
											]}
										>
											{plan.description.kickStart}
										</p>
									</div>
									<ul class="py-8">
										{plan.features.kickStart.map((feature) => (
											<li class="mb-2.5 flex flex-wrap items-center gap-3">
												<Icon
													name="tabler/check"
													class="size-5 text-primary-600 dark:text-primary-400"
													aria-hidden="true"
												/>
												<span
													class:list={[
														"font-medium tracking-tight",
														{
															"text-base-800 dark:text-base-300": plan.featured !== true,
														},
													]}
												>
													{feature}
												</span>
											</li>
										))}
									</ul>
								</div>

								{/* Jump Start Pricing */}
								<div class="pricing-plan__yearly-price hidden">
									<h3
										class:list={[
											"mb-8 text-lg font-medium tracking-tight",
											{
												"text-primary-600 dark:text-primary-400": plan.featured === true,
												"text-base-800 dark:text-base-300": plan.featured !== true,
											},
										]}
									>
										{plan.name.jumpStart}
									</h3>
									<h4 class="text-4xl font-medium tracking-tight">
										{plan.price.custom ? "Custom" : `S$${plan.price.jumpStart}`}
									</h4>
									<span class="description inline-block text-sm tracking-tight">
										{plan.priceTerms.jumpStart}
									</span>
									<div class="mt-8 border-y border-base-200 py-8 dark:border-base-800">
										<p
											class:list={[
												"description mx-auto max-w-xs tracking-tight",
												{
													"text-base-800 dark:text-base-300": plan.featured === true,
												},
											]}
										>
											{plan.description.jumpStart}
										</p>
									</div>
									<ul class="py-8">
										{plan.features.jumpStart.map((feature) => (
											<li class="mb-2.5 flex flex-wrap items-center gap-3">
												<Icon
													name="tabler/check"
													class="size-5 text-primary-600 dark:text-primary-400"
													aria-hidden="true"
												/>
												<span
													class:list={[
														"font-medium tracking-tight",
														{
															"text-base-800 dark:text-base-300": plan.featured !== true,
														},
													]}
												>
													{feature}
												</span>
											</li>
										))}
									</ul>
								</div>
							</div>
                            <Button
                                class="mb-0"
                                variant={plan.featured === true ? "primary" : "outline"}
                                href={getRelativeLocaleUrl(currLocale, plan.href)}
                            >
                                {plan.linkText}
                            </Button>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</section>

<script>
    function pricingPlanToggleSetup() {
        const pricingToggle = document.querySelector(".pricing-plan__toggle") as HTMLInputElement;
        const pricingToggleSlider = document.querySelector(".pricing-plan__slider") as HTMLElement;
        const pricingToggleDot = document.querySelector(".pricing-plan__dot") as HTMLElement;
        const pricingPlans = document.querySelectorAll(".pricing-plan") as NodeListOf<HTMLElement>;

        pricingPlans.forEach((pricingPlan) => {
            const monthlyPrice = pricingPlan.querySelector(".pricing-plan__monthly-price") as HTMLElement;
            const yearlyPrice = pricingPlan.querySelector(".pricing-plan__yearly-price") as HTMLElement;

            if (pricingToggle && pricingToggleDot && pricingToggleSlider && monthlyPrice && yearlyPrice) {
                pricingToggle.addEventListener("change", () => {
                    if (pricingToggle.checked) {
                        monthlyPrice.classList.add("hidden");
                        yearlyPrice.classList.remove("hidden");
                        pricingToggleDot.classList.add("translate-x-[26px]");
                        pricingToggleSlider.classList.add("border-primary-400", "dark:border-primary-600");
                    } else {
                        monthlyPrice.classList.remove("hidden");
                        yearlyPrice.classList.add("hidden");
                        pricingToggleDot.classList.remove("translate-x-[26px]");
                        pricingToggleSlider.classList.remove("border-primary-400", "dark:border-primary-600");
                    }
                });
            }
        });
    }

    // Initialize on page load
    pricingPlanToggleSetup();

    // Initialize after view transitions
    document.addEventListener("astro:after-swap", pricingPlanToggleSetup);
</script>